<% provide(:title, "Signup") %>
<h1>Users#new</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= f.label :jina %>
            <%= f.text_field :jina, placeholder: "Name" %>
            <%= f.label :pepe %>
            <%= f.email_field :pepe, placeholder: "Email" %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
            <%= f.submit "Signup" %>
        <% end %>

    </div>
</div>
